<h1>Lists</h1>
<div class="list-group-item">
  <ul>
    <% @lists.each do |list|%>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Add a list", new_list_path%>
